body {
    background-image: url('/images/laptop.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
}
@media screen and (max-width: 600px){
    .icons{
        font-size: 20px !important;
    }
}